<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">

    <title>El Deporte Online</title>
  </head>
  <body>

    <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="CatalogoProductos.html">Catálogo de Productos</a>
                <a class="nav-link" href="http://www.unla.edu.ar/">Información Institucional</a>
                <a class="nav-link" href="formulariocontacto">Formulario de Contacto</a>
              </li>
          </ul>
        </div>
      </div>
      <nav class="navbar fixed-top navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a href="index" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">El Deporte Online</a>
      </nav>
    </div>

    
    <form>
      <h1 style="text-align: center; margin: 2%;">Formulario de Contacto</h1>
        <div class="form-row">
          <div class="col">
            <label for="inputNombre">Nombre</label>
            <input type="text" class="form-control" placeholder="First name">
          </div>
          <div class="col">
            <label for="inputApellido">Apellido</label>
            <input type="text" class="form-control" placeholder="Last name">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="tuemail@email.com">
          </div>
          <div class="form-group col-md-6">
            <label for="exampleFormControlTextarea1">Comentario</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" cols="100"></textarea>
          </div>
        </div>
        <button type="button" class="btn btn-primary btn-lg btn-block">Enviar</button>  
      </form>
    </body>
</html>