<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">

    <title>El Deporte Online</title>
  </head>

<body style="padding-top: 3.3%;">

	<div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
            <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" href="catalogo">Catálogo de Productos</a>
                  <a class="nav-link" href="formulariocontacto">Formulario de Contacto</a>
                  <a class="nav-link" href="nosotros">Nosotros</a>
                  <a class="nav-link" href="categoria">ABM Categorias</a>
                  <a class="nav-link" href="subCategorias">ABM subCategorias</a>
				  <a class="nav-link" href="producto">ABM Productos</a>
				  <a class="nav-link" href="moneda">ABM Monedas</a>      
                </li>
            </ul>
          </div>
        </div>
        <nav class="navbar fixed-top navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a href="index" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">El Deporte Online</a>
        </nav>
      </div>
      


	<div class="container">

		<div class="row">
			<div class="col-md-8 mb-5">
				<h2 style="margin: 10%;">¿Quiénes Somos?</h2>
				<hr>
				<p>Nuestra historia comienza allá por 1970 con la inauguración
					de nuestra primera tienda física, El rey de las zapatillas. Con el
					correr de los años nos fuimos expandiendo cada vez más a través de
					la apertura de nuevas sucursales, hasta que en 1986 abrimos el
					primer local integral de deportes.</p>
				<p>Desde ese momento, todo fue crecimiento: realizamos alianzas
					estratégicas con otras marcas para ampliar nuestras redes y en 1988
					inauguramos un nuevo concepto de tienda deportiva en San Isidro.
					Esta tienda se llamó EL DEPORTE ONLINE SHOPS. El año 1997 fue
					clave. Nos consolidamos como líderes al abrir más de un local por
					mes durante ese año y contar así con una estructura total de 70
					sucursales a nivel nacional. En 2013, renovamos la imagen de EL
					DEPORTE ONLINE y, adaptándonos a las nuevas necesidades del cliente
					y del mercado, reforzamos el concepto de exhibición por disciplina.</p>
				<p>Así El Deporte Online se convirtió en la primera cadena
					multimarca en adoptar este sistema. A mediados de 2020, con el
					objetivo de ampliar nuestra participación y presencia en el mundo
					del comercio deportivo, lanzamos la plataforma de venta online de
					EL DEPORTE ONLINE.</p>
				<h2>Misión:</h2>
				<p>Vivimos entrenando para ganar y conquistar a los consumidores
					ofreciendo una experiencia premium. Hablamos a través del deporte y
					de la moda con el objetivo de acompañarlos en cada momento de sus
					vidas para que puedan competir, entrenar o lucir su estilo
					personal, transmitiendo inspiración e innovación.</p>
				<h2>Visión:</h2>
				<p>Ser el retailer líder en ventas y en servicio al cliente,
					siendo siempre cercano al consumidor.</p>
				<h2>Nuestros valores:</h2>
				<p>-Cliente siempre primero</p>
				<p>-Compromiso</p>
				<p>-Pasión</p>
				<p>-Hacer lo correcto</p>
				<p>-Más que un equipo</p>
				<p>-Innovación</p>
				<p>-Comunicación</p>

			</div>
		</div>
	</div>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>