<!DOCTYPE html>
<html class="html" lang="en"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Productos</title>
<link
	href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/styles.css">

<link rel="icon" href="../../static/img/logo.png"
	th:href="@{/img/logo.png}">
</head>


<!--
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet " href="../static/css/bootstrap.css " />
    <script th:href="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.js "></script>
    <script th:href="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js "></script>
    <script th:href="@{/js/jquery.js}" src="../static/js/jquery.js "></script>
    -->


<body>
	<div class="container">
		<div class="d-flex justify-content-between align-items-center">
			<h2>Administrar Productos</h2>
				<ol>
			 		 <a style="margin-top: 7px;" href="empleado" class="btn btn-dark btn-lg active" role="button" aria-pressed="true">Volver</a>  
				</ol>
		</div>
	<table class="table">
		<thead class="thead-dark">
			<tr class="bg-info">
				<th> </th>
				<th>Id</th>
				<th>Nombre</th>
				<th>Descripcion corta</th>
				<th>Descripcion larga</th>
				<th>Subcategoria</th>
				<th>Destacado</th>
				<th>Precio</th>
				<th>Moneda</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="producto : ${productos}">
				<td> <img th:src="${producto.urlImagen}" class="card-img-top" alt=""> </td>
				<td><span th:text="${producto.idProducto}" /></td>
				<td><span th:text="${producto.nombre}" /></td>
				<td><span th:text="${producto.descripcionCorta}" /></td>
				<td><span th:text="${producto.descripcionLarga}" /></td>
				<td><span th:text="${producto.subcategoria.nombre}" /></td>
				<td><span th:text="${producto.activo}" /></td>
				<td><span th:text="${producto.precio}" /></td>
				<td><span th:text="${producto.moneda.nombre}" /></td>
				<td><a class="btn btn-warning"
					th:href="@{/producto/{id}(id=${producto.idProducto})}">Modificar</a></td>
				<td>
					<form action="#"
						th:action="@{/producto/delete/{id}(id=${producto.idProducto})}"
						method="post">
						<button type="submit" class="btn btn-danger">Eliminar
							Producto</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>

	<a class="btn btn-primary" href="/producto/new">Agregar</a>

	<footer> Grupo 5 - Romano Sebastián Félix, Aguirre Rodrigo, Ambesi Lucas,
		Grimberg Kevin, Hermida Pablo </footer>
	</div>
</body>

</html>