<form action="#" th:action="@{/producto/create}" th:object="${producto}" method="post">
	<p>Nombre: <input type="text" th:field="*{nombre}" /></p>
	<p>Descripcion Corta: <input type="text" th:field="*{descripcionCorta}" /></p>
	<p>Descripcion Larga: <input type="text" th:field="*{descripcionLarga}" /></p>
  	<p>Categoria: <input type="number" th:field="*{categoria.idCategoria}" /></p>  
 	<p>Activo: <input type="checkbox" th:field="*{activo}" th:value="${activo}" /></p> 
 	<p>Precio: <input type="number" th:field="*{precio}" /></p> 
 	<p>moneda: <input type="number" th:field="*{moneda.idMoneda}" /></p> 
	
	<input type="submit" value="crear"/>
</form>
